body {
  font-family: Inter, serif;
  background-color: rgb(42, 61, 44);
}

/*.body {
    display: flex;
    flex-direction: column;
    gap: 0;
}*/

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  background-color: #fee42a;
}

.header {
  display: flex;
  padding: 24px 20px;
}

.header__logo {
  color: #f5f5f5;
}

.header__logo-image {
  width: 80px;
}

.header__menu {
  margin-left: auto;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  color: #f5f5f5;
  font: 400 normal 16px/120% "Inter";
  list-style: none;
}

.header__menu-link {
  color: #f5f5f5;
  text-decoration-line: underline;
}

.header__menu-item_active {
  text-decoration-line: none;
}

.cover {
  min-height: 78px;
  padding: 7px 20px 5px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: 21px 30px;
  background-size: 94% auto;
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font: normal 400 72px/1 "EB Garamond";
}

.accent-span {
  align-self: auto;
}

.text-center {
  align-self: center;
}

.text-right {
  align-self: flex-end;
  /*padding-right: 4px;*/
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 20px 38px;
}

.intro__heading {
  display: flex;
}

.intro__title {
  color: #f5f5f5;
  font: normal 400 16px/120% "Inter";
}

.intro__date {
  margin-left: auto;
  color: #f5f5f5;
  white-space: nowrap;
}

.intro__main-text {
  color: #f5f5f5;
  font: normal 400 16px/135% "Inter";
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
}

.content-section__subtitle {
  display: flex;
  flex-direction: column;
  font: normal 500 28px/115% "EB Garamond";
}

.content-section__introduction {
  font: normal 400 20px/27px "Inter";
}
.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  font: normal 400 16px/135% "Inter";
}

.content-section__list-item {
  font: normal 400 16px/135% "Inter";
}

.content-section__list-accent {
  font: normal 700 16px/135% "Inter";
}

.how-to {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 30px;
}

.card_text-only {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 30px;
}

.card_theme_dark {
  padding: 20px 21px 20px 20px;
  background-color: #343434;
}

.card_theme_bright {
  padding: 20px;
  color: #131313;
  list-style: symbols("-");
  background-color: #fee42a;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author-photo {
  width: 100px;
}

.card__author-name {
  font: normal 700 16px/135% "Inter";
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font: normal 500 22px/135% "EB Garamond";
}

.card__text {
  font: normal 400 16px/135% "Inter";
}

.footer {
  display: flex;
  border-top: 1px solid #fee42a;
  padding: 20px;
}

.footer__copy {
  font: normal 400 16px/135% "Inter";
}

.footer__links {
  display: flex;
  gap: 16px;
  margin-left: auto;
  color: #f5f5f5;
  font: normal 400 14px/135% "Inter";
  text-decoration-line: none;
  list-style: none;
}

.footer__list-links {
  color: #f5f5f5;
  text-decoration-line: none;
}
